<div class="header text-center">
  <%= link_to "", root_path, class: "fa fa-arrow-left d-inline-block pr-5" %>
  <h3 class="text-center d-inline-block">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></h3>
</div>

<h2 class="text-center my-4 px-3">Create a new My Pesa Account</h2>


<div class="container h-100 pt-1">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field pt-3">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field pt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field pt-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field pt-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions pt-3 d-flex justify-content-between"">
          <%= f.submit "Sign up", class: " btn btn-primary mr-4" %>
          <%= link_to "sign In", user_session_path, class: ""%>
        </div>
      <% end %>
    </div>
  </div>
</div>
