<div class="header pt-3 d-flex justify-content-around">
  <%= link_to "", root_path, class: " d-inline-block pr-5" %>
  <h3 class="text-center d-inline-block">Categories</h3>
  <%= link_to "Log out", destroy_user_session_path, class: "fa fa-sign-out d-inline-block pr-5" %>
</div>

<p style="color: green"><%= notice %></p>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path, class: "green btn btn-block fixed-bottom" %>
