<div class="header pt-3 d-flex justify-content-around">
  <%= link_to "", root_path, class: " d-inline-block pr-5" %>
  <h3 class="text-center d-inline-block">Categories</h3>
  <%= link_to "Log out", destroy_user_session_path, class: "fa fa-sign-out d-inline-block pr-5" %>
</div>

<h2 class="text-center pt-5">Let's create a new expense category</h2>

<div class="container h-100 pt-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <%= form_with(model: @group) do |form| %>
        <% if @group.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% @group.errors.each do |error| %>
              <li><%= error.full_message %></li>
              <% end %>
            </ul>
         </div>
        <% end %>

        <div>
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name %>
        </div>

        <div>
          <%= form.label :icon, style: "display: block" %>
          <%= form.file_field :icon %>
        </div>

        <div>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
 </div> 


<br>

<div>
  <%= link_to "Back to groups", groups_path %>
</div>
