<div class="header text-center">
  <%= link_to "", root_path, class: "fa fa-arrow-left d-inline-block pr-5" %>
  <h3 class="text-center d-inline-block">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></h3>
</div>

<h2 class="text-center pt-5">Log in to your My Pesa Account</h2>

<div class="container h-100 pt-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field pt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field pt-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="pt-3 d-flex justify-content-between"">
          <div class=" ">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions pt-2">
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
          </div>

          <div class="pt-2">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name) %><br />
            <% end %>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

